<h2>Find media from the command line</h2>
<p>The power of <a href="https://find.media">Find.Media</a> at your fingertips in the shell.</p>

<h2>Get it</h2>
{% highlight bash %}
npm install -g hound-cli
{% endhighlight %}

<h2>Search for media</h2>
{% highlight bash %}
hound Gladiator
{% endhighlight %}

{% highlight bash %}
hound --with Tom Cruise
{% endhighlight %}

{% highlight bash %}
hound Toy Story --meets Her
{% endhighlight %}

<p>For more information, including setup and additional options, bug reports, or feature requests head over to <a href="https://github.com/mediahound/hound-cli">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/mediahound/hound-cli">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <!-- <span class="fa fa-lg main-list-item-icon"> -->
    <img src="assets/mediaHoundDog.svg" alt="MediaHound" style="height:28px;vertical-align:middle;margin-right: 8px" />
    <!-- </span> -->
    <a href="http://mediahound.com">Powered by MediaHound</a>
  </li>
</ul>
